body {
  background-color: lavender;
  text-align: center;
  user-select: none;
}
.but {
  width: 6rem;
  height: 2rem;
  border: 1px solid;
  background-color: bisque;
}
.card {
  width: 50rem;
  height: auto;
  margin: auto;
  border: 1px solid;
  margin-top: 1%;
  background-color: aquamarine;
}
.card-hidden {
  display: none;
}
.list-group {
  width: 25rem;
  height: auto;
  background-color: coral;
  margin: auto;
  border: 2px solid;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
}
.list-header {
  border-bottom: 1px solid;
  width: auto;
  text-align: center;
  background-color: azure;
}
.list-header1 {
  width: auto;
  text-align: center;
  background-color: azure;
}
.accordeon-body {
  border-bottom: 1px solid;
  background-color: cornsilk;
}
.list-content {
  display: none;
}
.tabs-name {
  width: 15%;
  background-color: burlywood;
  margin: auto;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  border-right: none;
}
.header-tab {
  width: 35%;
  height: auto;
  border-right: 1px solid;
}
.tab-content {
  width: 35%;
  height: 125px;
  background-color: antiquewhite;
  border: 1px solid;
  margin: auto;
  margin-top: 1%;
  text-align: center;
}
.hidden-tab {
  display: none;
}
.tab-p {
  margin-bottom: 1rem;
}
