body {
  background-color: lavender;
  text-align: center;
}
.but {
  width: 6rem;
  height: 2rem;
  background-color: bisque;
}
.card {
  width: 50rem;
  height: auto;
  margin: auto;
  border: 2px solid;
  margin-top: 1%;
  background-color: aquamarine;
}
.card-hidden {
  display: none;
}
